/* Estilos para as barras de rolagem */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #404f4c;
}

::-webkit-scrollbar-thumb {
    background: #1c2b29;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c2b29;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.header:hover {
    background-color: #45a049;
}

.header h1 {
    margin: 0;
}

.content {
    padding: 20px;
    text-align: center;
}

.link-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.link-list li {
    transition: transform 0.3s, box-shadow 0.3s;
}

.link-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-list li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 50px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-block;
    background-color: white;
}

.link-list li a:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.link-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4CAF50;
    transition: width 0.3s;
}

.link-list li a:hover::after {
    width: 100%;
}
